{% extends 'base.html.twig' %}
{% block title %}
    List Project
{% endblock %}
{% block body %}
<div class="row container">
    
    <h3 class="panel-title">List Projects</h3>
    <a href="{{ path('addproject') }}" class="pull-right">Add Project</a>
    <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for project in projects %}
		<tr>
			<td>{{ project.name }}</td>
			<td>{{ project.price }}</td>
			<td>{{ project.description }}</td>
			<td><a href="{{ path('editproject') }}/{{project.Id}}">Edit</a> | <a href="{{ path('deleteproject') }}/{{project.Id}}">Delete</a></td>
		</tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}